################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/WpfApp1
/WpfApp1/bin/Debug/net8.0-windows
/WpfApp1/obj
